<!DOCTYPE html>
<html>

  <head>
    <title>Portfolio Optimization</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  </head>

  <body>
      <div class="boxed" align=center>
          <H1>Portfolio Optimization</H1>
          <form>
             Investment Amount:<br>
	    {% if result['investment'] is defined %}
             <input type="text" name="investment" value={{ result['investment'] }} ><br>
	    {% else %}	
             <input type="text" name="investment"><br>
	    {% endif %}
             Expected Return:<br>
             {% if result['expectedreturn'] is defined %}	     
             <input type="text" name="expectedreturn" value={{ result['expectedreturn'] }}><br>
	     {% else %} 
             <input type="text" name="expectedreturn"><br> 
             {% endif %}
             How many years from now:<br>
             {% if result['expectedreturn'] is defined %}	     
             <input type="text" name="years" value={{ result['years'] }}><br>
	     {% else %} 
             <input type="text" name="years" value=1 ><br> 
             {% endif %}
             <input type="submit" name="submit" value="Optimize" formmethod="post">
          </form> 
      </div>
      <br>

      {% if result['error'] is defined %}
       Error Message: {{ result['error']  }}
      {% endif %}

      {% if result['portfolio'] is defined %}
        {% for k in result['portfolio'].keys() %} 
         <div align=center>
	     <table>
	     <tr>	
	        <td> <H2>List of stocks considered in {{ k }}</H2> </td> 
	     </tr>
	     {% for i in range(result['portfolio'][k]['symbol']|length)  %}
	     <tr>
	        <td align=left> {{ result['portfolio'][k]['symbol'][i] }} : {{ result['portfolio'][k]['company'][i] }} -- ${{ result['portfolio'][k]['allocation'][i] }}  </td>
	     </tr>        
	     {% endfor %}
	     </table>
         </div>
	 <br>	
        {% endfor %}
      {% endif %}
  
  </body>
</html>
